div.itemSel {
    background-color: var(--accent);
    cursor: pointer;
    touch-action: manipulation;
    border-color: var(--accent);
    color: var(--accentText);
}


div.itemUnsel {
    background-color: transparent;
    cursor: pointer;
    touch-action: manipulation;
    background-color: var(--secondary);
    border-color: var(--secondary);
    color: var(--secondaryText);
}

div#cases_selection {
    width: fit-content;
    padding-bottom: 5em;
    display: flex;
    flex-direction: row;
    gap: 4px;
    flex-wrap: wrap;
}

img.caseImage {
    width: 5em;
}

div#modeButtons {
    position: fixed;
    bottom: 0.5em;
    gap: 0.3em;
    /* font-size: 1.3em; */
    transition: all 0.3s;
}

div#presetsSettings span {
    height: 100%;
    font-size: 1em;
    padding-left: 0.1em;
    padding-right: 0.1em;
    padding-top: 0em;
    padding-bottom: 0em;
    margin: 0;
    border-width: var(--borderWidth);
    box-sizing: border-box;
    line-height: normal;
}

div#presetsSettings input[type=text] {
    cursor: pointer;
    border-color: var(--background);
    border-radius: var(--borderRadius);
    width: 12em;
    height: fit-content;
    margin: 0;
    padding: 0;
    font-size: 1em;
    text-align: left;
    background-color: var(--backgroundDarker);
    color: var(--text);
}

div#presetsSettings input[type=text]:focus {
    border-style: solid;
    border-color: var(--secondary);
    border-width: var(--borderWidth);
    outline: none;
}

button#agts,
button#actg {
    height: 100%;
    font-size: 1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    margin: 0;
    border-width: var(--borderWidth);
    box-sizing: border-box;
    line-height: normal;
}

div#addSetContainer,
div#addGroupContainer {
    background-color: var(--background);
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    padding: 0.2 0.5em;

    border-width: var(--borderWidth);
    border-style: solid;
    border-radius: var(--borderRadius);
    background-color: var(--backgroundDarker);
    border-color: transparent;
}

#addGroupContainer input,
#addGroupContainer button {
    width: auto;
}

input#createSetName,
input#createGroupName {
    border-radius: 0.3em;
    height: fit-content;

    cursor: pointer;
    border-color: var(--background);
    width: 12em;
    margin: 0;
    padding: 0;
    font-size: 1em;
    text-align: left;
    background-color: var(--background);
    color: var(--text);
}

.groupContainer {
    display: block;
    width: 100%;
    margin: 0.5em;
}

.groupBar {
    margin-bottom: 0.3em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.setContainer {
    width: 100%;
}

.setBar {
    background-color: black;
    margin-bottom: 0.3em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.groupBar .deleteButton {
    color: var(--primaryText);
    font-size: 1.2em;
}

.setBar .deleteButton {
    font-size: 1.2em;
    color: var(--secondaryHover);
}

.allSel {
    width: 100%
}

.setSel {
    flex-wrap: wrap;
    max-width: 570px;
}

input#fileNameEntry {
    border-radius: 0.3em;
    height: fit-content;
    cursor: pointer;
    border-color: white;
    width: 7em;
    margin: 0;
    padding: 0;
    font-size: 1em;
    text-align: left;
    background-color: var(--background) oklch(33% 0 0);
    color: var(--text);
    margin: 20px;
}